html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}
  
h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'times new roman', times new roman, serif;
  color: #000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
